name: Production_Build
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install vcpkg dependencies
      run: |
        vcpkg install curl:x64-windows nlohmann-json:x64-windows

    - name: Configure CMake
      # السطر التالي يربط vcpkg بـ CMake ليعرف مكان CURL و JSON
      run: |
        cmake -S . -B build `
        -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" `
        -A x64

    - name: Build Project
      run: cmake --build build --config Release
      
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: AIO_IDE_Binary
        path: build/Release/AIO_IDE.exe
