- name: Build Project
      run: cmake --build build --config Release

    - name: List Files (To see where EXE is)
      run: dir /s build\*.exe  # هذا السطر سيكشف لنا مكان الملف بالضبط في السجلات

    - name: Upload Final EXE
      uses: actions/upload-artifact@v4
      with:
        name: AIO_Smart_IDE_Windows
        # التعديل السحري: البحث في كل المجلدات عن الملف
        path: "**/AIO_IDE.exe"
